<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catering Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/drink.png" alt="catering-log">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Categing Service</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Otra manera de gestionar un servicio tan importante como es el catering.
    </ion-card-content>

    <div>
      <h1>Descripcion: {{description}} </h1>
      <p>Precio: {{price}} </p>
    </div>

    <ion-button (click)="goToMyMenu()" expand="block">Ir al menu</ion-button>

  </ion-card>
</ion-content>
