<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catering Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/drink.png" alt="catering-log">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Categing Service</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Otra manera de gestionar un servicio tan importante como es el catering.
    </ion-card-content>

      <ion-row> 
        <ion-col width-33>
          <ion-button (click)="goToMyList()" expand="block">Listado</ion-button>
        </ion-col>
        <ion-col width-33>
          <ion-button (click)="goToCreate()" expand="block">Nuevo</ion-button>
        </ion-col>
        <ion-col width-33>
          <ion-button (click)="goToStart()" expand="block">Salir</ion-button>
        </ion-col>        
    </ion-row>   

  </ion-card>
</ion-content>